# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
gesture_classifier_env/

# VS Code settings folder
.vscode/

# Compiled Python files
__pycache__/
*.pyc

# Large or binary output files
*.mp4

# Mac/Windows hidden files
.DS_Store
Thumbs.db